.button-layout {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: $font-large;
    line-height: 1;
    padding: $s-size $m-size;
    text-decoration: none;
}

.button-layout__logout {
    border: none;
    background-color: none;
}

.button--secondary {
    background: #888;
}