.text-input {
    border: 1px solid #cacccd;
    height: 5-px;
    padding: $s-size;
    font-size: $font-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
    height: 50-px;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}